<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="PdfBundle">
            <directory>./</directory>
        </testsuite>
    </testsuites>
</phpunit>